.move-container {
  column-gap: 16px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: min-content;
  margin-top: 16px;
  margin-bottom: 16px;
}

.move-nav-container {
  grid-column: span 2;
  height: 50px;
  margin-bottom: 12px;
}

.move-nav {
  position: relative;
}

.move-link-container {
  border-radius: 8px;
  padding: 12px;
  transition: all 250ms ease-out;
}

.move-link-container:hover {
  background-color: rgba(255, 255, 255, 0.025);
}

.previous-move {
  left: -12px;
  position: absolute;
  text-align: start;
}

.next-move {
  right: -12px;
  position: absolute;
  text-align: end;
}

.next-move-heading {
  margin-bottom: 4px;
}

.move-col-1 {
  gap: 8px 0;
  display: grid;
  grid-auto-rows: min-content;
}

.move-image-container {
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  display: flex;
  height: 500px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.move-usage-container {
  display: grid;
  row-gap: 8px;
}

@media screen and (max-width: 767px) {
  .move-container {
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding: 0 16px;
  }

  .move-image-container {
    height: 200px;
  }

  .move-header {
    font-size: 32px;
  }

  .move-subheader {
    font-size: 24px;
  }

  .move-nav-container {
    display: none;
  }
}
