.trials-container {
  display: grid;
  max-width: 800px;
  grid-template-columns: 1fr;
  align-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
}

.trial-preview-content {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 767px) {
  .trials-container {
    margin: 0;
  }

  .trial-preview-content {
    grid-template-columns: 1fr;
  }
}
