.bottom-navigation-container {
  display: none;
}

.bottom-navigation-link {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .bottom-navigation-container {
    align-items: center;
    background-color: rgb(var(--bg-color));
    border-top: 1px solid var(--border-color);
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 16px 12px;
    position: fixed;
    width: 100%;
  }
}
