.move-preview-content {
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.move-preview-data {
  border-bottom: 1px solid rgba(var(--font-color), 0.1);
}

.move-preview-header {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-bottom: 12px;
}

.move-preview-image-container {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

.move-preview-image {
  border-radius: 16px;
}

.move-preview-notes {
  list-style: disc inside;
}

.move-preview-container {
  border-radius: 16px;
  display: block;
  padding: 16px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.move-preview-container:hover,
.move-preview-container:focus {
  background-color: rgba(255, 255, 255, 0.025);
}

.move-preview-scroll-offset {
  margin-top: -112px;
  padding-top: 112px;
}

@media screen and (max-width: 767px) {
  .move-preview-container {
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
  }

  .move-preview-content {
    grid-template-columns: 1fr;
  }

  .move-preview-data {
    display: none;
  }

  .move-preview-image-container {
    height: 200px;
  }
}
