.app-container {
  display: grid;
  grid-template-rows: var(--navbar-height) 1fr;
}

.header {
  align-items: center;
  background-color: rgb(var(--bg-color));
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 16px 16px;
  position: sticky;
  top: 0;
  z-index: 10;
}
