.uppercase {
  text-transform: uppercase;
}

.underline {
  border-bottom: 1px solid rgba(var(--font-color), 0.6);
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.color-white {
  color: white;
}

.color-blue {
  color: rgb(111, 224, 235);
}

.color-yellow {
  color: rgb(226, 216, 74);
}

.color-gray {
  color: rgba(var(--font-color), 0.6);
}

.text-shadow-white {
  text-shadow: 0px 0px 5px rgba(var(--font-color), 0.3);
}

.text-shadow-blue {
  text-shadow: 0px 0px 4px rgba(111, 224, 235, 0.2);
}

.bottom-gutter {
  padding-bottom: 12px;
}

.typography-h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 3px;
}

.typography-h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3px;
}

.typography-h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

.typography-h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.typography-subheading1 {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
}

.typography-subheading2 {
  font-size: 0.85rem;
  font-weight: 500;
}

.typography-body1 {
  font-size: 18px;
}

.typography-body2 {
  font-size: 16px;
}
