:root {
  --font-primary: "Barlow";
  --font-secondary: sans-serif;
  --text-base-size: 16px;
  --font-color: 245, 245, 245;
  --blue: 111, 224, 235;
  --bg-color: 31, 30, 29;
  --hover-color: 255, 255, 255, 0.025;
  --navbar-height: 56px;
  --secondary-navbar-height: 48px;
  --border-color: #717172;
}

body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  background-color: rgb(var(--bg-color));
  color: rgb(var(--font-color));
  overflow-y: scroll;
}

a {
  cursor: pointer;
}
